<section id="content">
    <div class="slideShow">
        <app-slideshow [imageUrls]="imageSliderUrls" [autoPlay]=true></app-slideshow>
    </div>
    <div class="row">
        <div class="col s12 m6 l3 center">
            <a href="/register" (click)="login($event)">
                <div class="glyph tooltipped" materialize="tooltip" data-tooltip="Click Me!" data-position="bottom">
                    <svg class="icon">
                        <use xlink:href="#affiliate" />
                    </svg>
                </div>
                <div>
                    <h5 class="heading-icons">JOIN FREE</h5>
                    <p class="grey-text font-size-14">No cost for joining and using PAISACLUB.COM</p>
                </div>
            </a>
        </div>
        <div class="col s12 m6 l3 center">
            <a [routerLink]="['/offers']">
                <div class="glyph tooltipped" materialize="tooltip" data-tooltip="Click Me!" data-position="bottom">
                    <svg class="icon">
                        <use xlink:href="#cash" />
                    </svg>
                </div>
                <div>
                    <h5 class="heading-icons">EARN CASHABCK</h5>
                    <p class="grey-text font-size-14">Shop on the partner stores via PAISACLUB.COM and get cashback</p>
                </div>
            </a>
        </div>
        <div class="col s12 m6 l3 center">
            <a [routerLink]="['/recharge-bill-payment']">
                <div class="glyph tooltipped" materialize="tooltip" data-tooltip="Click Me!" data-position="bottom">
                    <svg class="icon">
                        <use xlink:href="#technology" />
                    </svg>
                </div>
                <div>
                    <h5 class="heading-icons">RECHARGE/PAY BILLS</h5>
                    <p class="grey-text font-size-14">Do recharge/pay bills using the cashback earned</p>
                </div>
            </a>
        </div>
        <div class="col s12 m6 l3 center">
            <a href="/myaccount/referral" (click)="referralLink($event)">
                <div class="glyph tooltipped" materialize="tooltip" data-tooltip="Click Me!" data-position="bottom">
                    <svg class="icon">
                        <use xlink:href="#network" />
                    </svg>
                </div>
                <div>
                    <h5 class="heading-icons">EARN MORE</h5>
                    <p class="grey-text font-size-14">Create your referral network and earn when your referrals make purchases</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h5 class="center center grey-text lighten-1">
                <i class="mdi-action-perm-media"></i>HOW IT WORKS</h5>
        </div>
        <div class="col s12 offset-m2 offset-l3 l6 m8 transparent-div">
            <div class="video-container">
                <iframe width="950px" height="480" src="//www.youtube.com/embed/r4S8PqjsvGA?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row notifications-bg">
        <div class="col s12">
            <h5 class="center">
                <i class="mdi-social-notifications-on icon-bell"></i> SEND ME OFFER NOTIFICATIONS</h5>
        </div>
        <div class="col s12 offset-m2 offset-l3 l6 m8 transparent-div">
            <div class="card">
                <form novalidate #emailSubscriptionForm="ngForm" (ngSubmit)="emailSubscription(emailSubscriptionForm)">
                    <div class="card-content">
                        <div class="input-field col s12 m8 l8 min-height">
                            <i class="mdi-maps-local-post-office prefix grey-text"></i>
                            <input id="sub-email" name="email" [email]="true" #email="ngModel" ngModel type="email" class="validate grey-text" required/>
                            <label for="sub-email">Email</label>
                            <div *ngIf="email?.errors?.required && email.touched" class="error">
                                Email is required
                            </div>
                            <div *ngIf="email?.errors?.email && email.touched && !email.errors?.required" class="error">
                                Provide a valid email
                            </div>
                        </div>
                        <div class="input-field col s12 l3 m3 center padding-10">
                            <button class="btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <app-product-carousel [productCarousel]="latestProductCarousel" [title]="latestProductTitle" 
        [options]="latestProductCarouselOptions"></app-product-carousel>
    </div>
    <div class="row">
        <app-product-carousel [productCarousel]="latestMobileCarousel" 
        [title]="latestMobileTitle" [options]="latestMobileCarouselOptions"></app-product-carousel>
    </div>
    <div class="row">
        <div class="col s12 m12 l8 offset-l2">
            <div class="row">
                <div class="col s12">
                    <h5 class="center grey-text lighten-1">
                        <i class="mdi-action-shopping-cart"></i> TRENDING STORES</h5>
                </div>
                <div class="col s6 m2 l2" *ngFor="let offer of landingPageOffers | async">
                    <h5 class="bg-offer-image">
                        <a [routerLink]="['/store',offer.SEOName]">
                            <img src="{{offer.LogoURL}}" alt="{{offer.name}} logo" class="offer-image cashback-image-size">
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <a [routerLink]="['/offers']" class="btn amber">View All Stores</a>
        </div>
    </div>
</section>


<div class="row row-no-margin-bottom">
    <div class="col s4 cyan padding-5">
        <a href="javascript:void(0)" class="tooltipped" materialize="tooltip" data-tooltip="visit twitter page">
            <div class="row row-no-margin-bottom">
                <div class="col s12 center">
                    <i class="fa fa-twitter fa-2x white-text"></i>
                </div>
                <div class="col s12 center">
                    <span class="cyan darken-2 social-media-count">{{socialCount?.twitter}}</span>
                </div>
            </div>
        </a>
    </div>
    <div class="col s4 light-blue darken-3 padding-5">
        <a href="javascript:void(0)" class="tooltipped" materialize="tooltip" data-tooltip="visit facebook page">
            <div class="row row-no-margin-bottom">
                <div class="col s12 center">
                    <i class="fa fa-facebook fa-2x white-text"></i>
                </div>
                <div class="col s12 center">
                    <span class="light-blue darken-4 social-media-count">{{socialCount?.fb}}</span>
                </div>
            </div>
        </a>
    </div>
    <div class="col s4 red darken-2 padding-5">
        <a href="javascript:void(0)" class="tooltipped" materialize="tooltip" data-tooltip="visit google+ page">
            <div class="row row-no-margin-bottom">
                <div class="col s12 center">
                    <i class="fa fa-google-plus fa-2x white-text"></i>
                </div>
                <div class="col s12 center">
                    <span class="red darken-4 social-media-count">{{socialCount?.gplus}}</span>
                </div>
            </div>
        </a>
    </div>
</div>