<div container>
    <div class="row">
        <div class="col s12" id="dvRedirectContent">
            <div class="text-center center-align">
                <img class="img-circle logo-size" src="/assets/favicon/fav_icon_200_200.png" width="150px" height="150px" />
            </div>
            <div class="card" [ngClass]="{'teal': user, 'pink darken-1': !user}">
                <div class="progress slim-progress-bar progress-bar-shop ">
                    <div class="indeterminate"></div>
                </div>
                <div class="card-content white-text">
                    <span class="card-title">Please wait.You are being redirected to {{offerDetailsViewModel.name}}...
                    </span>
                    <p *ngIf="user">Hello {{user.name}}, Congratulations! You will get cashback
                        <span *ngIf="offerDetailsViewModel.pc_Payout!==null">
                        upto {{offerDetailsViewModel.pc_Payout}}</span>
                        on successful order.</p>
                    <p *ngIf="!user">Oops! You are missing cashback
                        <span *ngIf="offerDetailsViewModel.pc_Payout!==null"> upto {{offerDetailsViewModel.pc_Payout}}</span>. Please LOGIN to get cashback.</p>
                </div>
            </div>
            <div class="padding-5 text-center center-align">
                <strong>Note:</strong> If you are not automatically re-directed, Please
                <a href="{{this.offerDetailsViewModel.TrackingLink}}">
                    click here </a> to redirect
            </div>
        </div>
    </div>
</div>