.list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    padding: 40px;
    background-color: transparent;
}

.cog {
    width: 14rem;
    height: 14rem;
    fill: #A188AD;
    transition: easeInOutQuint();
    animation: CogAnimation 5s infinite;
    cursor: pointer;
}

@keyframes CogAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}