.row-category-header {
    margin-bottom: 10px;
}

.row-category-header span {
    font-weight: 500;
}

.ul-category>.collection-item {
    border: 0px;
    padding: 5px 10px;
}

.ul-category>.collection-item:hover {
    text-decoration: underline;
}

.height-desk {
    min-height: 250px;
}

@media only screen and (max-width: 700px) {
    .category-menu {
        padding: 0px;
    }
    .category-menu .collapsible-header {
        font-weight: 500;
    }
    .category-menu>ul {
        margin: 0px;
        border: 0px;
    }
}