
    <div class="row">
        <div class="banner">
            Privacy Policy
        </div>
    </div>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col m12 s12" style="padding: 25px;min-height: 300px">
                    <p class="content">
                        <strong> What information do we collect?</strong>

                        We collect information from you when you subscribe to our newsletter.
                        When ordering or registering on our site, as appropriate, you may be asked to enter your:
                        E-mail address : You may, however, visit our site anonymously.
                        Bank Account Details : For paying your cashback amount.

                    </p>
                    <p class="content">
                        <strong> How Is My Information Used?</strong>

                        Your information is only used to track your earnings. We do not sell or redistribute your
                        information to ANYONE.

                    </p>
                    <p class="content">
                        <strong>Security and Storage.</strong>

                        Only your earnings data is stored on our server. This information is encrypted using a Secure
                        Sockets Layer before it is transmitted over a web server. We do not store your Credit Card data.

                    </p>
                    <p class="content">
                        <strong> Cookies and Browser Information.</strong>

                        Cookies are small files that reside on your computer and allow us to recognize you on your next
                        visit. We use them only to track this information.

                    </p>
                </div>
            </div>
        </div>
    </section>

