.menu-wrapper {
    background-color: #36465B;
    color: #fcfcfc;
    height: 40px;
    text-align: center;
    padding: 7px;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.nav,
.nav a,
.nav>li>a::after,
.nav ul,
.nav li,
.nav div,
.nav ul {
    margin: 0 auto;
    text-align: left;
    white-space: nowrap;
}

.nav a {
    text-decoration: none;
}

.nav li {
    list-style: none;
}

.nav {
    display: initial;
    position: relative;
    cursor: default;
    z-index: 500;
}

.nav>li {
    display: block;
    float: left;
    padding-left: 40px;
}

.nav>li>a {
    position: relative;
    z-index: 510;
    padding: 0 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #fcfcfc;
    text-shadow: 0 0 1px rgba(233, 232, 232, 0.35);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.nav>li:first-child>a {
    border-radius: 3px 0 0 3px;
    border-left: none;
}

.nav>li>div {
    position: absolute;
    display: block;
    width: 100%;
    top: 33.2px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    background: #ffffff;
    border-radius: 0 0 3px 3px;
    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}

.nav>li:hover>div {
    opacity: 1;
    visibility: visible;
    overflow: visible;
}

.nav .nav-column {
    float: left;
    width: auto;
    padding: 2.5%;
}

.nav .nav-column h3 {
    margin: 20px 0 10px 0;
    line-height: 18px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #372f2b;
    text-transform: uppercase;
}

.nav .nav-column h3.orange {
    color: #ff722b;
}

.nav .nav-column li a {
    display: block;
    line-height: 26px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #888888;
}

.nav .nav-column li a:hover {
    color: #666666;
}

.nav>li>a:hover::after {
    -webkit-transform: translateY(-50%) rotate(-180deg);
    -moz-transform: translateY(-50%) rotate(-180deg);
    -ms-transform: translateY(-50%) rotate(-180deg);
    -o-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg);
}

.nav>li>a::after {
    content: '';
    position: absolute;
    right: 4px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../../../images/app-images/cd-icon-arrow.svg") no-repeat center center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
}

li {
    margin-bottom: 8px;
}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
}