<div class="row">
    <div class="banner">
        Contact Us
    </div>
</div>
<section>
    <!--start container-->
    <div class="container">
        <div class="section">

            <p class="caption" style="color: #777;">Have a question? Don't hesitate to send us a message. Our team
                will be happy to help you.</p>

            <div class="divider"></div>

            <div id="contact-page" class="card" style="border-top:2px solid #777">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 m6">
                            <form class="contact-form" (ngSubmit)="contact.form.valid && saveContactUs(contact)"
                                  #contact="ngForm" novalidate>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="first_name" class="validate" type="text" name="name"
                                               [(ngModel)]="contactModel.name" #name="ngModel" required>
                                        <label for="first_name">Your Name</label>
                                        <div *ngIf="contact.submitted && name.errors?.required" class="error">
                                            The Name is required
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="c-email" class="validate" type="text" name="email" type="text"
                                               [(ngModel)]="contactModel.email" #email="ngModel" required
                                               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                        <label for="c-email">Email</label>
                                        <div *ngIf="contact.submitted && email.errors && email.errors?.required"
                                             class="error">The Email is required
                                        </div>
                                        <div *ngIf="contact.submitted && email.errors && email.errors?.pattern"
                                             class="error">The Email is invalid
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="subject" class="validate" name="subject" type="text"
                                               [(ngModel)]="contactModel.subject" #subject="ngModel" required>
                                        <label for="subject">Subject</label>
                                        <div *ngIf="contact.submitted && subject.errors?.required" class="error">The
                                            Subject is required
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                            <textarea id="icon_prefix2" class="materialize-textarea" name='message'
                                                      [(ngModel)]="contactModel.message" #message="ngModel"
                                                      required></textarea>
                                        <label for="icon_prefix2">Message</label>
                                        <div *ngIf="contact.submitted && message.errors?.required" class="error">The
                                            message is required
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <button id="contact-btn"
                                                    class="btn cyan waves-effect waves-light right ladda-button"
                                                    style="padding: 0px 46px !important;" type="submit"
                                                    name="action">Send
                                                <i class="mdi-content-send right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col s12 m6">
                            <ul class="collapsible collapsible-accordion" data-collapsible="accordion"
                                materialize="collapsible">
                                <li>
                                    <div class="collapsible-header"><i class="mdi-communication-live-help"></i> FAQ
                                    </div>
                                    <div class="collapsible-body">
                                        <p>Please check our <a [routerLink]="['/faq']">FAQ</a> section before write
                                            us.</p>
                                    </div>
                                </li>
                                <li class="active">
                                    <div class="collapsible-header active"><i class="mdi-communication-email"></i>
                                        Need Help?
                                    </div>
                                    <div class="collapsible-body">
                                        <p>We welcome your inquiries at the email address <a
                                                mailto="care@paisaclub.com">care@paisaclub.com</a>.We will get in
                                            touch with you soon.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--end container-->
</section>
