<div class="row">
    <div class="banner">
        About Us
    </div>
</div>
<div class="row">
    <section id="timeline" class="timeline-outer">
        <div class="container" id="timeline-content">
            <div class="row">
                <div class="col s12">
                    <p><b>PAISACLUB.COM</b> is an affiliate marketing company which promotes offers &amp; deals of the
                        e-commerce retailers (Only inside INDIA) which can be used by all online users.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <ul class="timeline">
                        <li class="event" data-date="Coming Soon">
                            <h3>Price Comparison</h3>
                            <p>Price comparison feature will be introduced soon...</p>
                        </li>
                        <li class="event" data-date="2017/Present">
                            <h3>Up In The Ladder</h3>
                            <p>We are growing close to 400 valuable users and provided around <i
                                    class="mdi-rupee-symbol"></i>23000 during this period.</p>
                        </li>
                        <li class="event" data-date="2017">
                            <h3>FREE Recharge</h3>
                            <p>Introduced recharge facility for Mobile, Landline, Datacard and DTH.</p>
                        </li>
                        <li class="event" data-date="2017">
                            <h3>New Look</h3>
                            <p>PAISACLUB.COM was enhanced to provide users with new look, rich interactive UI, faster
                                loading with PWA(progressive web app) optimized for mobile and ease of use</p>
                        </li>
                        <li class="event" data-date="2015">
                            <h3>Journey Start...</h3>
                            <p>PAISACLUB.COm has started its journey in FEBRUARY 2015</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

