<ul materialize="collapsible" class="collapsible collapsible-accordion product-filter-accordion" data-collapsible="expandable"
    [materializeActions]="collapsible" style="margin-top:50px !important">
    <li class="bold" id="product-filter-category">
        <span class="collapsible-header  bold active">Category</span>
        <div class="collapsible-body">
            {{category}}
        </div>
    </li>
    <li class="bold" *ngFor="let item of aggsFilter |keys">
        <span class="collapsible-header bold active">{{item?.key}}</span>
        <div class="collapsible-body">
            <input [(ngModel)]="searchText[item.key]" placeholder="search {{item.key}}">
            <ul class="product-listing-filter filter-height" id="{{replaceSpace(item?.key.toLowerCase())}}">
                <li *ngFor="let filter of item?.value['data']|keys| filteraggs : searchText[item.key]">
                    <input type="{{item.key=='Price'?'radio':'checkbox'}}" name="{{replaceSpace(item?.key)}}[]"
                           value="{{filter.key}}"
                           class="filled-in" id="{{replaceSpace(item?.key+filter?.key)}}"
                           (change)="filterSelection($event,filter,item?.key)"
                           [attr.disabled]="isDisabled(filter?.value)">
                    <label for="{{replaceSpace(item?.key+filter?.key)}}">{{filter?.key}}({{filter?.value}})</label>
                </li>
            </ul>
        </div>
    </li>
</ul>
