<div class="cd-main-content" *ngIf="(totalNumber > 0);  else  noResult">
    <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter" [ngClass]="filter ? 'filter-is-visible' : ''">
            <app-filter-dropdown></app-filter-dropdown>
        </div>
        <!-- cd-tab-filter -->
    </div>
    <!-- cd-tab-filter-wrapper -->
    <div class="cd-gallery" [ngClass]="filter ? 'filter-is-visible width-trans' : 'width-trans-full'">
        <div style="padding-left: 20px">
            <h1 class="heading">Results For "{{query}}"</h1>
            <div class="info">
                <span>(showing {{currentPage}}-{{pager.totalPages}} of {{productCategoryListsVM.total}} products)</span>
            </div>
        </div>
        <div class="row" *ngIf="chipSetLength >= 1">
            <div id="filter-chips" class="row hide-on-med-and-down row-no-margin-bottom" style="padding:15px 0px">
                <div class="col s12">
                    <ng-container *ngFor="let chips of chipsSet | keys">
                        <div class="chip pointer" *ngFor="let chip of chips.value | keys" (click)="removeChips($event,chips.key,chip.value)">
                            {{chip.value}}
                            <i class="material-icons mdi-navigation-close"></i>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 l3" *ngFor="let product of productCategoryListsVM.sourceItem">
                <div class="card card-product">
                    <div class="card-content">
                        <ul class="collection collection-product">
                            <li class="collection-item no-border-bottom">
                                <i class="mdi-social-notifications-off pink-text right tooltipped" style="font-size:25px" data-tooltip="Price drop alert disabled"></i>
                            </li>
                            <li class="collection-header">
                                <h5>
                                    <img src="{{product.imageurl}}" alt="materialize logo" class="product-image">
                                </h5>
                            </li>
                            <li class="collection-item product-title">
                                <b>{{product.name}}</b>
                            </li>
                            <li class="collection-item product-highlights grey-text">
                                <ul>
                                    <li *ngFor="let keySpec of product.keyspec | split">
                                        <i class="mdi-image-adjust tiny"></i>{{keySpec}}
                                    </li>
                                </ul>

                            </li>
                            <li class="collection-item no-border-bottom">
                                <span class="product-price">Rs.{{product.price}}</span>
                                <sub class="right amber-text">2 Offers</sub>
                            </li>
                            <li class="collection-item">
                                <a [routerLink]="['/'+product.slug]" class="waves-effect waves-light btn grey" style="width:100%">
                                    Compare Price
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination center">
                <li class="waves-effect" [ngClass]="{disabled:pager.currentPage == 1}">
                    <a class="tooltipped" materialize="tooltip" data-position="bottom" data-tooltip="First" (click)="setPage(1)">
                        <i class="mdi-av-skip-previous"></i>
                    </a>
                </li>
                <li class="waves-effect" [ngClass]="{disabled:pager.currentPage == 1}">
                    <a class="tooltipped" materialize="tooltip" data-position="bottom" data-tooltip="previous" (click)="setPage(pager.currentPage - 1)">
                        <i class="mdi-hardware-keyboard-arrow-left"></i>
                    </a>
                </li>
                <li class="waves-effect" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage == page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li class="waves-effect" [ngClass]="{disabled:pager.currentPage == pager.totalPages}">
                    <a class="tooltipped" materialize="tooltip" data-position="bottom" data-tooltip="Next" (click)="setPage(pager.currentPage + 1)">
                        <i class="mdi-hardware-keyboard-arrow-right"></i>
                    </a>
                </li>
                <li class="waves-effect" [ngClass]="{disabled:pager.currentPage == pager.totalPages}">
                    <a class="tooltipped" materialize="tooltip" data-position="bottom" data-tooltip="Last" (click)="setPage(pager.totalPages)">
                        <i class="mdi-av-skip-next"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="cd-filter" [ngClass]="filter ? 'filter-is-visible' : ''">
        <cmp-aggsFilters #aggsFilter [aggsFilter]="productCategoryListsVM.aggs" [category]="query" (filterSelected)="filterSearch($event)"></cmp-aggsFilters>
        <a href="#0" class="cd-close mdi-navigation-close" (click)="toggleClass($event)"></a>
    </div>
    <a href="#0" class="cd-filter-trigger" (click)="toggleClass($event)" [ngClass]="filter ? 'filter-is-visible' : ''">Filters</a>
</div>
<ng-template #noResult>
    <noresult-cmp [searchQuery]="query"></noresult-cmp>
</ng-template>