<div class="container">
    <h5 class="center grey-text lighten-1">{{title}}</h5>
    <div class="{{ cssClass }}">
        <div class="prod" *ngFor="let prod of productCarousel">
            <a title="{{prod.name}}" [routerLink]="['/'+prod.slug]">
                <div class="prod-details">
                    <div class="prod-img">
                        <img alt="{{prod.name}}" src="{{prod.imageurl}}">
                    </div>
                    <div class="prod-name">{{prod.name}}</div>
                    <div class="prod-price">{{prod.price|indianCurrency}}</div>
                </div>
            </a>
        </div>
    </div>
    <div class="arrow siema-prev" (click)="prev($event)">
        <svg width="14.6" height="24" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff" class=""></path>
        </svg>
    </div>
    <div class="arrow siema-next" (click)="next($event)">
        <svg width="14.6" height="24" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="arrow-trans">
            <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff"></path>
        </svg>
    </div>
</div>